.Footer{
    background-color: #FFEED2;
    display: flex;
    flex-flow: column wrap;
    padding: 30px 50px;
    margin-top: 40px;
}

.Footer .up{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #382110;
}

.Footer .up .left h1{
    padding: 0;
    margin: 0;
    color: #382110;
}

.Footer .up p{
    width: 400px;
    color: #382110;

}

.Footer .down{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    border-top: 1px solid #382110;
    color: #382110;
}